
body{
   /* background-color: rgb(228, 249, 245);   */
    margin: 0;
    text-align: center;
}

.primary-div{
    margin: auto;
    width: 1360px;
}   
.heading{
    width: 1360px;
    height: 100px;
    margin: auto;
}
.logo{
    float: left;
    width: 20%;
    height: 100%;
    margin: auto;
    position: relative;
}
.logo-position{
    position: absolute;
    right: 55px;
    top: 18px;
}
.menu{
    color: rgb(64, 81, 78);
    margin: 5px black; 
    float: left;
    width: 80%;
    height: 100%;
    position: relative;
}
.menu-bar{
     float: right;
     position: absolute;
     right: 100px;
     /* background-color: rgb(49, 227, 203);*/
     font-family: sans-serif;
     font-weight: 600;
     font-size: 16px;
     width: 470px;
     height: 70px;
     line-height: 60px;
     list-style: none;
     margin: 10px;
     padding: 0;
}
.bar{
    float: left;
}
.menu-box{
    display: block;
    padding: 0 20px;
    color: rgb(16, 152, 157);
    text-decoration: none;
}
.menu-box:hover{
    background-color:rgb(228, 249, 245);

}
#middle-heading{
    background-color: rgb(228, 249, 245);
    width: 1360px;
    height: 510px;
    margin: auto;
    position: relative;
}
.left-mid{
    float: left;
    margin: auto;
    background-color: yellow;
    width: 250px;
    height: 100%;
}
.center-mid{
    float: left;
    width: 860px;
    height: 100%;
}
.myname{
    margin: 100px auto;
    width: 60%;
    padding: 10px;
}
.font1{
    font-family: cursive;
    font-size: 2rem;
    font-style: italic;
}
.myname{
    margin: auto;
    width: auto;
    height: auto;
}

.myintro{
    margin: 50px auto;
    width: 60%;
    padding: 10px;
    font-family: Helvetica, sans-serif;
}
.right-mid{
    float: right;
    margin: auto;
    background-color: blue;
    width: 250px;
    height: 100%;
}
