body{  
    font-family: "Montserrat", sans-serif;
}
#title{
    background-color: rgb(191, 213, 219);
    font-family: "Ubuntu";
    font-size: 20px;
    padding: 10px;
}
#Profile-Summery{
    margin: 0 10%;
    border-style: groove;
    margin-top: 2%;
}
#My-career{
    background-color: rgb(213, 230, 235);
    margin-top: 2%;
    padding: 2% 10%;
}
.navbar{ background-color: #d0d4d4; }
.navbar-nav{ width: 50%; }
.navbar-brand-img{ margin-right: 0 10px; }
.navbar-brand {
    margin-right: 0 100px;
    padding-left: 10px;
    font-family: "Righteous";
    font-size: 1.9rem;
    font-weight: 500;
}
.nav-item{
    margin: auto;
    display: block;
    text-align: center;
}
.nav-link{
    text-align: center;
    margin: auto;
    display: block;
    width: 50%;
    height:50%;
}

.title-container{ padding: 2% 8% 2% 7%;}
.Profile-Summery-container{ padding: 2% 8% 1% 7%; }
.My-career-container{ padding: 2% 8% 1% 7%; }

.table-settings{ padding: 0% 4%; }

.left-table-settings{
    text-align: center;
}
.right-table-settings{
    padding: 5px 10px 0px 13px;
}
a{
    color: black;
}
a:hover{
    border-style: none;
    text-decoration: none;
}

.font1{
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    color:black;
    font-size: 2em;
    line-height: 0.7;
    margin-top: 200px;
}
.font2{
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    color:rgb(27, 26, 26);
    font-size: 1.6em;
    border-style: none none solid none;
}
.font3{
    font-family: 'Londrina Shadow', cursive;
    font-weight: 500;
    font-size: 6em;
    line-height: 0.8;
}
.font4{
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    line-height: 1.2;
}
.font5{
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    color:black;
    font-size: 1.3rem;
}
.font-subheading{
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    color:black;
    font-size: 2rem;
    /* border-style: none none solid none; */
}
.title-image{
    width: 80%;
    margin-left: 28%;
}
.personal-image{
    width: 60%;
    margin: auto;
    display: block;
}
.eduational-image{
    width: 100%;
}
